<nav #nav class="nav">
    <i #navOpenBtn (click)="openNav()" class="uil uil-bars navOpenBtn"></i>
    <a routerLink="/" class="logo">JustEmpire</a>

    <div class="right-side">
        <ul class="nav-links">
            <li><a class="hlink" [class.active]="router.isActive('/home', false)" draggable="false" routerLink="home">{{ "HOME" | translate }}</a></li>
            <li><a class="hlink" [class.active]="router.isActive('/' + language.getLanguageCode().toLowerCase() + '/news', false)" draggable="false" routerLink="{{ language.getLanguageCode().toLowerCase() }}/news">{{ "NEWS" | translate }}</a></li>
            <li><a class="hlink" [class.active]="router.isActive('/' + language.getLanguageCode().toLowerCase() + '/services', false)" draggable="false" routerLink="{{ language.getLanguageCode().toLowerCase() }}/services">{{ "SERVICES" | translate }}</a></li>
            <i (click)="closeNav()" #navCloseBtn class="uil uil-times navCloseBtn"></i>
          </ul>
          
          <label for="searchBox"><img draggable="false" src="{{ currentIcon }}"(click)="toggleSearch()" #searchIcon id="searchIcon"></label>
    </div>
    <div class="search-box">
        <input [disabled]="blockSearchInput" id="searchBox" (keyup)="find($event)" type="text" [placeholder]="'SEARCH_HERE' | translate" />
        <div *ngIf="searchResults.length > 0" class="search-results">
          <a [routerLink]="result.url" *ngFor="let result of searchResults">
            <span class="result-title" [innerHtml]="result.title | truncate : 70 | safeHtml"></span><br>
            <span class="result-description" [innerHtml]="result.text | safeHtml"></span>
          </a>
        </div>
    </div>
</nav>