.nav {
    position: relative;
    top: 0;
    user-select: none;
    left: 0;
    width: 100%;
    padding: 25px 175px;
    background: #212121;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 31;
}

.nav, .nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.nav .logo {
    font-size: 40px;
    font-weight: 600;
}

.logo {
    color: rgb(252, 252, 252);
    transition: 0s !important;
}

.logo {
    position: relative;
    font-size: 5rem;
}

.nav .nav-links {
    column-gap: 50px;
    list-style: none;
}

.nav .nav-links a {
    color: #E0E0E0;
    font-size: 24px;
    font-family: FuturaMd, Inter;
    transition: all 0.2s linear;
}

nav .nav-links a.active {
    color: #FFFFFF;
}

nav .nav-links a.active::before {
    width: 100%;
}

.nav .nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #E0E0E0;
    transition: width 0.1s ease-out;
}

.nav .nav-links a.active::before {
    background-color: #FFFFFF;
}

.nav .nav-links a:hover::before {
    width: 100%;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}
.nav .search-icon {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.nav.openSearch .search-results {
    display: block !important;
}

.right-side {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #4a98f7;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #2e2e2e;
    border: 1px solid #7E7E7E;
    color: #FFFFFF;
    padding: 15px;
    z-index: 20;
}

.right-side img {
    cursor: pointer;
    min-width: 32px;
    max-width: 32px;
}

.nav .navOpenBtn, .nav .navCloseBtn {
    font-size: 30px !important;
    display: none;
}

.search-results {
    border-radius: 4px;
    border: 0.5px solid #646464;
    background-color: #2E2E2E;
    top: 8px;
    z-index: 19;
    overflow: hidden;
    display: none;
}

.search-results a {
    display: block;
    cursor: pointer;
    padding: 15px;
    background-color: #2E2E2E;
    border-bottom: 0.5px solid #646464;
}

.search-results a:hover {
    background-color: #424242;
}

.search-results a:hover .result-title {
    text-decoration: underline;
}

.search-results a:last-child {
    border-bottom: none;
}

.result-title {
    color: #dedede;
}

.result-description {
    font-size: 14px;
    color: #929292;
    text-decoration: none !important;
}

@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
   }

    .nav .search-box {
        right: 150px;
   }
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
   }

    .nav .search-box {
        right: 100px;
        max-width: 400px;
   }
}

@media screen and (max-width: 768px) {
    .nav .logo {
        font-size: 32px;
    }

    .nav .navOpenBtn, .nav .navCloseBtn {
        display: block;
   }

    .nav {
        padding: 15px 20px;
   }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 300px;
        width: 100%;
        padding-top: 57px;
        flex-direction: column;
        background-color: #202020;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
        z-index: 100;
   }

   .nav-links li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 4px;
        padding: 14px;
   }

    .nav.openNav .nav-links {
        left: 0;
   }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
   }

    .nav .navCloseBtn {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
   }

    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   }
}