<nav #nav class="nav">
    <i #navOpenBtn (click)="openNav()" class="uil uil-bars navOpenBtn"></i>
    <a routerLink="/" class="logo">JustEmpire</a>

    <div class="right-side">
        <ul class="nav-links">
            <i (click)="closeNav()" #navCloseBtn class="uil uil-times navCloseBtn"></i>
            <li><a class="hlink" draggable="false" routerLinkActive="active" routerLink="home">{{ "HOME" | translate }}</a></li>
            <li><a class="hlink" draggable="false" routerLinkActive="active" routerLink="{{ language.getLanguageCode().toLowerCase() }}/news">{{ "NEWS" | translate }}</a></li>
            <li><a class="hlink" draggable="false" routerLinkActive="active" routerLink="{{ language.getLanguageCode().toLowerCase() }}/services">{{ "SERVICES" | translate }}</a></li>
          </ul>
          
          <img draggable="false" src="{{ currentIcon }}"(click)="toggleSearch()" #searchIcon id="searchIcon">
    </div>
    <div class="search-box">
        <input (keyup)="find($event)" type="text" [placeholder]="'SEARCH_HERE' | translate" />
        <div *ngIf="searchResults.length > 0" class="search-results">
          <a [routerLink]="result.url" *ngFor="let result of searchResults" [innerHtml]="result.title | safeHtml"></a>
        </div>
    </div>
</nav>