<footer>
    <div>
      <div><b>JustEmpire</b>, 2018 - 2023</div>
      <div style="text-align: left;"><a routerLink="policy">{{ 'OUR_POLICY' | translate }}</a></div>
    </div>
    <div>
        <span>{{ 'POWERED_BY' | translate }}</span>
        <div class="nav-wrapper">
            <div class="sl-nav">
              {{ 'LANGUAGE' | translate }}:
              <ul>
                <li><b *ngIf="currentLanguage == '0'">English</b><b *ngIf="currentLanguage == '1'">Ukrainian</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <div class="hitbox"></div>
                  <ul>
                    <li (click)="setLanguage(0)"><i class="sl-flag flag-usa"></i><span [ngClass]="{'active': currentLanguage == '0'}">English</span></li>
                    <li (click)="setLanguage(1)" (mouseover)="addTriangle()" (mouseleave)="removeTriangle()" class="ua"><i class="sl-flag flag-ua"><div id="ukraine"></div></i><span [ngClass]="{'active': currentLanguage == '1'}">Ukrainian</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
    </div>
</footer>