<footer>
    <div>JustEmpire, 2018 - 2023</div>
    <div>
        <span>Powered by ASP.NET & Angular</span>
        <div class="nav-wrapper">
            <div class="sl-nav">
              Language:
              <ul>
                <li><b>English</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <div class="hitbox"></div>
                  <ul>
                    <li><i class="sl-flag flag-usa"><div id="germany"></div></i><span class="active">English</span></li>
                    <li (mouseover)="addTriangle()" (mouseleave)="removeTriangle()" class="ua"><i class="sl-flag flag-ua"><div id="ukraine"></div></i><span>Ukrainian</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
    </div>
</footer>