<div *ngIf="service" class="service">
    <div class="image-and-info">
        <div class="image-section">
            <a draggable="false" [routerLink]="['/', languageCode.toLowerCase(),'service', service.id, slugifiedTitle ]" [queryParams]="{ 'categories': selectedCategories, 'searchString': searchString }"><img draggable="false" src="{{ API_URL }}/uploads/{{ service.titleImage }}" alt=""></a>
        </div>
        <div class="info">
            <div class="title"><a [routerLink]="['/', languageCode.toLowerCase(),'service', service.id, slugifiedTitle ]" [queryParams]="{ 'categories': selectedCategories, 'searchString': searchString }">{{ service.title }}</a></div>
            <div *ngIf="currentCategory" class="type">{{ currentCategory.title }}</div>
            <div class="description">{{ service.text | removeHtmlTags | truncate : 255 }}</div>
        </div>
    </div>
    <div class="action">
        <btn class="action-button" [flat]="true" [paddingLeft]="0" [paddingRight]="0" [href]="service.url" *ngIf="!service.isDownloadable">{{ 'VISIT' | translate }}</btn>
        <btn class="action-button" [flat]="true" [paddingLeft]="0" [paddingRight]="0" [color]="'green'" [href]="service.url" *ngIf="service.isDownloadable">{{ 'DOWNLOAD' | translate }}</btn>
    </div>
</div>