* {
    font-family: Inter;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.service {
    background-color: #282828;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 16px;
    min-height: 196px;
}

.service .image-and-info {
    display: flex;
    gap: 16px;
    color: #FFFFFF;
}

.service .image-section {
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    min-width: 160px;
}

.service .image-section img {
    border-radius: 7px;
    user-select: none;
    max-width: 160px;
    max-height: 160px;
    display: inline-block;
}

.service .info .title {
    font-size: 26px;
    font-weight: 700;
}

.service .info .type {
    color: #B2B2B2;
    font-weight: 600;
}

.service .info .description {
    padding-top: 6px;
}

.service .action {
    display: flex;
    flex-direction: column-reverse;
}

.service .action-button {
    bottom: 0;
    width: 160px;
    font-weight: 600;
    font-size: 18px;
}


@media screen and (max-width: 1000px) {
    .service .action-button {
        width: 120px;
        font-size: 16px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .service {
        min-height: 160px;
    }

    .service .info .title {
        font-size: 22px;
    }

    .service .info .type {
        font-size: 15px;
    }

    .service .info .description {
        font-size: 16px;
        max-height: 47px;
        display: block;
        overflow: hidden;
    }

    .service .image-section {
        min-width: 130px;
    }
    
    .service .image-section img {
        max-width: 130px;
        max-height: 130px;
    }
}