<main>
    <div class="login-block">
        <h1>{{ 'AUTHORIZATION' | translate }}</h1>
        <span *ngIf="showError" class="error">{{ 'USERNAME_PASSWORD_NOT_CORRECT' | translate }}</span>
        <form [formGroup]="form" (submit)="submit()">
            <input formControlName="username" type="text" placeholder="{{ 'EMAIL_OR_USERNAME' | translate }}">
            <input formControlName="password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
            <input class="button" type="submit" value="{{ 'LOGIN' | translate }}">
        </form>
    </div>
</main>