<div *ngIf="article" class="wrapper">
    <article>
        <div style="background-image: url('{{ API_URL }}/uploads/{{ article.titleImage }}')" class="head">
            <div class="top">
                <img (click)="back()" alt="⬅ {{ 'BACK' | translate }}" class="back" src="../assets/images/svg/back.svg" draggable="false">
            </div>
            <div class="bottom">
                <div class="title">{{ article.title }}</div>
                <div class="date">{{ article.publishDate | date : "MM.dd.yyyy" }}</div>
            </div>
        </div>
        <div class="content">
            <div *ngIf="article.tags?.length! > 0" class="tags">{{ 'TAGS' | translate }}: {{ article.tags }}</div>
            <span [innerHTML]="article.text | safeHtml"></span>
            </div>
    </article>
</div>
<app-loading/>