<main *ngIf="article">
    <article>
        <div class="article-title">
            <h1>{{ article.title! | truncate: 100 }}</h1>
            <div class="article-date">{{ article.publishDate | date: 'MMM dd, yyyy' }}</div>
            <div style="background-image: url('{{ API_URL }}/uploads/{{ article.titleImage }}');" class="title-bg"></div>
        </div>
        <div class="container">
            <div class="content" [innerHTML]="article.text | safeHtml"></div>
        </div>
    </article>
    <aside>
        <h1>{{ 'RECENT_ARTICLES' | translate }}</h1>
        <hr>
        <ul>
            <li *ngFor="let recentArticle of recentArticles$ | async" routerLinkActive="active"><a [routerLink]="['/article/', getLanguageCode(recentArticle.language), recentArticle.id, getSlugifiedTitle(recentArticle.title)]">{{ recentArticle.title! | truncate: 20 }}</a></li>
        </ul>
    </aside>
</main>
<app-loading/>