* {
    font-family: Inter;
}

article {
    border-radius: 16px;
    overflow: hidden;
    margin-top: 60px;
    background-color: #282828;
    padding-bottom: 20px;
}

.head {
    min-height: 400px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
}

.head::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(0,0,0,.15) 100%);
}

.back {
    color: #FFFFFF;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.back:hover, .back:active {
    filter: brightness(110%);
}

.head .bottom {
    bottom: 20px;
}

.head .title {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}

.head .date {
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    opacity: 0.72;
    bottom: 2px;
    left: 4px;
}

.tags {
    width: 100%;
    display: block;
    font-weight: 700;
    opacity: 0.8;
    font-size: 20px;
    padding-bottom: 15px;
}

.content {
    color: #A4A0A0;
    font-size: 19px;
    padding: 0 16px;
    line-height: 28px;
    letter-spacing: .2px;
}

.wrapper {
    padding: 0% 273px;
    margin-bottom: 90px;
}

@media screen and (max-width: 1300px) {
    article {
        margin-top: 25px;
    }

    .wrapper {
        padding: 0% 20px;
    }

    .head {
        min-height: 400px;
    }

    .head .title {
        font-size: 36px;
    }

    .head .date {
        font-size: 22px;
        opacity: 0.67;
        left: 0;
        bottom: 2px;
    }

    .back {
        scale: 1.2;
    }
}