* {
    font-family: Inter, Arial;
}

.wrp {
    cursor: pointer;
}

article {
    background: #282828;
    overflow: hidden;
    border-radius: 16px;
    height: 270px;
    padding: 5px;
    color: #FFFFFF;
    transition: transform .2s, background-position .4s, background-color .1s;
}

.recent-article {
    background: linear-gradient(0deg, rgba(20,67,136,1) 0%, #22262b 100%);
    background-size: 250% 250%;
    display: block;
}

.wrp:hover .recent-article {
    background-position: 100%;
}

.wrp:hover article {
    background-color: #373737;
    transform: translateY(-10px);
}

.wrp:hover article .image-section__wrapper::before {
    background-position: -40px;
}

article .content {
    width: 100%;
    height: 100%;
    background-color: #282828;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 18px;
    min-width: 40%;
    height: 100%;
}

article a {
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(#fff,#fff) left bottom no-repeat;
    background-size: 0% 3px;
    background-position-y: 44px;
    transition: all 0.2s;
}

.wrp:hover article a {
    background-size: 100% 3px;
}

.info .title {
    font-size: 40px;
    font-weight: 700;
    font-family: Inter;
}

.info .date {
    font-size: 22px;
    padding-top: 4px;
    font-weight: 600;
    font-family: Inter;
    opacity: 0.72;
}

.info .tags {
    color: #B2B2B2;
    font-size: 22px;
    opacity: 0.8;
}

.image-section {
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    border-end-end-radius: 12px;
    border-top-right-radius: 12px;
}

.image-section__wrapper {
    display: flex;
    overflow: visible;
}

.image-section__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 120%;
    height: 100%;
    left: -2px;
    top: 0;
    z-index: 20;
    background: linear-gradient(-90deg,rgba(255,0,0,0) 60%,#282828 90%);
    transition: .1s ease-in-out;
}

.image-section img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    article {
        user-select: none;
        padding: 4px;
        height: 120px;
    }

    .image-section img {
        height: 100%;
        width: unset;
    }

    .wrp:hover article {
        transform: translateY(-4px);
    }

    .wrp:hover article .image-section__wrapper::before {
        background-position: -20px;
    }
    
    .recent-article {
        background-size: 100%;
        display: block;
    }

    .recent-article {
        background-position: 100%;
    }

    article a {
        background-position-y: 24px;
    }

    article .info {
        min-width: 60%;
        padding: 15px 15px;
    }

    .info .title {
        font-size: 21px;
    }

    .info .date {
        font-size: 17px;
        bottom: 4px;
    }

    .info .tags {
        font-size: 16px;
    }
}