<a class="article" [routerLink]="['/', languageCode.toLowerCase(), 'article', article.id, slugifiedTitle ]">
    <div class="info-section">
        <div class="article-title">{{ article.title! | truncate: 50 }}</div>
        <div class="article-date">{{ article.publishDate | date : 'dd.MM.yyyy hh:mm' }}</div>
        <div class="article-text" [innerHTML]="article.text! | truncate: 100"></div>
    </div>
    <div class="image-section">
        <img loading="lazy" src="{{ API_URL }}/uploads/{{ article.titleImage }}" alt="">
        <div style="background-image: url('{{ API_URL }}/uploads/{{ article.titleImage }}');" class="blurry-bg"></div> 
    </div>
</a> 