<a class="article" [routerLink]="['/article', languageCode, article.id, slugifiedTitle ]" draggable="false">
    <div class="info-section">
        <div class="article-title">{{ article.title! | truncate: 50 }}</div>
        <div class="article-date">{{ article.publishDate | date : 'MM/dd/yyyy hh:mm:ss' }}</div>
        <div class="article-text">{{ article.text! | truncate: 255 }}</div>
    </div>
    <div class="image-section">
        <img src="{{ article.titleImage }}" alt="Image missing">
        <div style="background-image: url('{{ article.titleImage }}');" class="blurry-bg"></div> 
    </div>
</a>