<div class="block main">
    <div class="image-and-info">
        <div class="image-section">
            <img src="{{ API_URL }}/uploads/{{ service?.titleImage }}" alt="">
        </div>
        <div class="info">
            <div class="title">{{ service?.title }}</div>
            <div *ngIf="currentCategory" class="type">{{ currentCategory.title }}</div>
            <div *ngIf="currentVersion" class="version">{{ 'VERSION' | translate }}: {{ currentVersion.title }}</div>
        </div>
    </div>
    
    <div class="action">
        <btn [href]="service?.url ?? ''" *ngIf="!service?.isDownloadable" class="action-button" [flat]="true">{{ 'VISIT' | translate }}</btn>
        <btn [href]="service?.url ?? ''" *ngIf="service?.isDownloadable" class="action-button" [color]="'green'" [flat]="true">{{ 'DOWNLOAD' | translate }}</btn>
    </div>
</div>
<div class="block selelct-tab">
    <div [ngClass]="{ 'active': isTabCurrentlyActive('description') }" (click)="setTab('description')" class="tab-button">{{ 'DESCRIPTION' | translate }}</div>
    <div [ngClass]="{ 'active': isTabCurrentlyActive('screenshots') }" (click)="setTab('screenshots')" *ngIf="screenshotsCount > 0" class="tab-button">{{ 'SCREENSHOTS' | translate }}</div>
    <div  [ngClass]="{ 'active': isTabCurrentlyActive('versions') }" (click)="setTab('versions')" *ngIf="versionsCount > 0" class="tab-button">{{ 'VERSIONS' | translate }}</div>
</div>

<div [ngClass]="{'contentVisible': isTabCurrentlyActive('description')}" class="block description">
    <div class="content" [innerHTML]="service?.text | safeHtml"></div>
</div>

<div [ngClass]="{'contentVisible': isTabCurrentlyActive('screenshots')}" *ngIf="screenshotsCount > 0" class="block images__wrapper">
    <div class="images">
        <img (click)="showImageViewer(i)" *ngFor="let screenshot of screenshots; index as i" src="{{ API_URL }}/uploads/{{ screenshot.image }}">
    </div>
</div>

<div [ngClass]="{'contentVisible': isTabCurrentlyActive('versions')}" *ngIf="versionsCount > 0" class="block versions no-padding">
        <table>
            <thead>
                <tr>
                    <th>{{ 'VERSION' | translate }}</th>
                    <th>{{ 'PUBLISH_DATE' | translate }}</th>
                    <th>{{ 'CHANGELOG' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let version of versions$ | async">
                    <td>{{ version?.title }}</td>
                    <td>{{ version?.publishDate | date: "M/d/yyyy hh:mm:ss" }}</td>
                    <td><a (click)="showVersionReader(version)">{{ 'READ' | translate }}</a></td>
                </tr>
            </tbody>
        </table>
</div>
<app-image-viewer *ngIf="isImageViewerShown" (onClose)="disableImageViewer()" (onImageChanged)="imageChanged($event)" [selectedImageIndex]="imageViewerIndex" [images]="screenshots" [shown]="isImageViewerShown" />
<modal-window [showModal]="isVersionReaderShown" (onClose)="hideVersionReader()">
    <h1>{{ currentReaderVersion?.title }}</h1>
    <div class="date">{{ currentReaderVersion?.publishDate | date: "MMM d yyyy hh:mm:ss" }}</div>
    <p [innerHTML]="currentReaderVersion?.text | safeHtml"></p>
</modal-window>
<app-loading/>