* {
    font-family: Inter;
}

.wrapper {
    padding: 40px 22%;
    padding-bottom: 0;
}

.section-title {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 70%);
    gap: 8px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
    user-select: none;
}

.section-title::before, .section-title::after {
    content: "";
    display: inline-block;
    width: 100%;
    background-color: #BABABA;
    height: 2.5px;
    border-radius: 50px;
    position: relative;
    top: 13px;
}

.past {
    margin-top: 30px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fog {
    display: block;
    width: 100%;
    height: 15%;
    background: linear-gradient(360deg, #191919 0%, rgba(25, 25, 25, 0.00) 100%);
    position: sticky;
    bottom: 0;
    left: 0;
}

article-pagination {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .section-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .section-title::before, .section-title::after {
        top: 14px;
        height: 4px;
    }

    .wrapper {
        padding: 20px 10px;
        padding-bottom: 0px;
    }

    .articles {
        gap: 12px;
    }

    .past {
        margin-top: 15px;
    }
}