main {
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-y: overlay;
}

.mainShown {
    display: flex;
}

main .section-title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 600;
    padding-top: 40px;
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 0px 175px;
    margin: 40px 0;
    margin-bottom: 0px;
}

article-pagination {
    margin-top: auto;
}

article-card:nth-child(n) {
    width: 58%;
}

article-card:nth-child(2n) {
    width: 40%;
}

article-card:nth-child(3n) {
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .articles {
        padding: 0px 60px;
    }

    article-card {
        width: 100% !important;
    }
}