
<div class="head-block">
    <div class="content">
        <div class="left">
            <div class="name">JustEmpire</div>
            <div class="description">{{ 'INDEX_SUBTITLE' | translate : '1' }}</div>
        </div>
        <div class="right">
            <div class="image"></div>
        </div>
    </div>
</div>

<main>
    <img class="wave" draggable="false" style="top: -5px; left:1px; z-index: 10;" src="../../assets/images/svg/block-1-topwave.svg">
    <section class="left">
        <div class="block left-1 with-image">
            <div class="image hidden-left-short"></div>
        </div>

        <div class="block left-2">
            <img draggable="false" class="wave" style="top: -4px; left:0px;" src="../../assets/images/svg/block-2-left-topwave.svg">
                <div class="hidden-left-long">
                    <div class="block-title">{{ 'OUR_SERVICES' | translate }}</div>
                    <div class="block-text">{{ 'OUR_SERVICES_TEXT' | translate }} <a routerLink="/{{ language.getLanguageCode().toLowerCase() }}/services">justempire.net/services</a>. {{ 'OUR_SERVICES_TEXT_2' | translate }}
                </div>
            </div>
            <img draggable="false" class="wave" style="bottom: -4px; left:0;" src="../../assets/images/svg/block-2-left-bottomwave.svg">
        </div>
        <div class="block left-3 with-image" style="transform: scaleY(1.01);">
            <div class="image hidden-left-short"></div>
        </div>

        <div class="block left-4">
            <img draggable="false" class="wave" style="top: -1px; right:0px;" src="../../assets/images/svg/block-4-left-topwave.svg">
            <div class="hidden-left-long">
                <div class="block-title">{{ 'SUPPORT_US' | translate }}</div>
                <div class="block-text">{{ 'SUPPORT_US_TEXT' | translate }} <a href="https://www.buymeacoffee.com/justempire">buymeacoffee.com/justempire</a></div>
            </div>
            <img draggable="false" class="wave" style="bottom: -1px; right:-4px;" src="../../assets/images/svg/block-4-left-bottomwave.svg">
        </div>
        <div class="block left-5 with-image">
            <div class="image hidden-left-short"></div>
        </div>    
    </section>

    <section class="right">
        <div class="block right-1" style="transform: scaleY(1.005);">
            <div class="hidden-right-long">
                <div #hiddenRightShort class="block-title">{{ "ABOUT_US" | translate }}</div>
                <div class="block-text">{{ "ABOUT_US_TEXT" | translate }} <a routerLink="/{{ language.getLanguageCode().toLowerCase() }}/services">justempire.net/services</a>.</div>
            </div>
        </div>
        <div class="block right-2 with-image">
            <div class="image hidden-right-short"></div>
        </div>

        <div class="block right-3" style="transform: scaleY(1.01);">
            <div class="hidden-right-long">
                <div class="block-title">{{ 'OUR_CONDITIONS' | translate }}</div>
                <div class="block-text">{{ 'OUR_CONDITIONS_TEXT' | translate }}</div>
            </div>
            <img draggable="false" class="wave" style="bottom: -1px; right:0px;" src="../../assets/images/svg/block-3-right-bottomwave.svg">
        </div>

        <div class="block right-4 with-image">
            <div class="image hidden-right-short"></div>
        </div>

        <div class="block right-5">
            <img draggable="false" class="wave" style="top: -4px; right:0px;" src="../../assets/images/svg/block-5-right-topwave.svg">
            <div class="hidden-right-long">
                <div class="block-title">{{ 'CHECK_OUR_NEWS' | translate }}</div>
                <div class="block-text">{{ 'CHECK_OUR_NEWS_TEXT_1' | translate }} <a routerLink="/{{ language.getLanguageCode().toLowerCase() }}/news">justempire.net/news</a>.<br>{{ 'CHECK_OUR_NEWS_TEXT_2' | translate }}</div>
            </div>
            <img draggable="false" class="wave mobile" style="bottom: -1px; right:0px;" src="../../assets/images/svg/block-5-right-bottomwave.svg">
        </div> 
    </section>
</main>