
<div [ngClass]="{'hidden': !imagesLoaded}" class="head-block">
    <div class="content">
        <div class="left">
            <div class="name">JustEmpire</div>
            <div class="description">Team of individuals who create unique products.
                We are specialized on creating software, websites, Discord bots, Minecraft stuff and more!</div>
        </div>
        <div class="right">
            <div class="image"></div>
        </div>
    </div>
</div>

<main [ngClass]="{'hidden': !imagesLoaded}">
    <img class="wave" draggable="false" style="top: -5px; left:1px; z-index: 10;" src="../../assets/images/svg/block-1-topwave.svg">
    <section class="left">
        <div class="block left-1 with-image">
            <div class="image hidden-left-short"></div>
        </div>
        <div class="block left-2">
            <img draggable="false" class="wave" style="top: -4px; left:0px;" src="../../assets/images/svg/block-2-left-topwave.svg">
            <div class="block-title hidden-left-short">Our services</div>
            <div class="block-text hidden-left-long">We are creating websites, software, stuff for games and more! You can check it on  <a href="https://justempire.net/services">justempire.net/services</a>
            </div>
            <img draggable="false" class="wave" style="bottom: -4px; left:0;" src="../../assets/images/svg/block-2-left-bottomwave.svg">
        </div>
        <div class="block left-3 with-image" style="transform: scaleY(1.01);">
            <div class="image hidden-left-short"></div>
        </div>
        <div class="block left-4">
            <img draggable="false" class="wave" style="top: -1px; right:0px;" src="../../assets/images/svg/block-4-left-topwave.svg">
            <div class="block-title hidden-left-short">Support us!</div>
            <div class="block-text hidden-left-long">You can support us by sharing our services among your friends. Also you can become a subscriber on our Patreon: </div>
            <img draggable="false" class="wave" style="bottom: -1px; right:-4px;" src="../../assets/images/svg/block-4-left-bottomwave.svg">
        </div>
        <div class="block left-5 with-image">
            <div class="image hidden-left-short"></div>
        </div>    
    </section>

    <section class="right">
        <div class="block right-1" style="transform: scaleY(1.005);">
            <div #hiddenRightShort class="block-title hidden-right-short">About us</div>
            <div class="block-text hidden-right-long">We have started our path in 2018. We are creating interesting and unique products such as programs on different platforms, websites, gaming stuff and more! Products that are ready are displayed on  <a href="https://justempire.net/services">justempire.net/services</a>.</div>
        </div>
        <div class="block right-2 with-image">
            <div class="image hidden-right-short"></div>
        </div>
        <div class="block right-3" style="transform: scaleY(1.01);">
            <div class="block-title hidden-right-short">Our conditions</div>
            <div class="block-text hidden-right-long">We don’t collect or share your personal information so you can stay safe using our services. We are standing for privacy of users data. Our only income is from advertisements.</div>
            <img draggable="false" class="wave" style="bottom: -1px; right:0px;" src="../../assets/images/svg/block-3-right-bottomwave.svg">
        </div>
        <div class="block right-4 with-image">
            <div class="image hidden-right-short"></div>
        </div>
        <div class="block right-5">
            <img draggable="false" class="wave" style="top: -4px; right:0px;" src="../../assets/images/svg/block-5-right-topwave.svg">
            <div class="block-title hidden-right-short">Check our news!</div>
            <div class="block-text hidden-right-long">Check our news on <a routerLink="/news">justempire.net/news</a>.<br>
                We are publishing news about new things that we create!</div>
        </div> 
    </section>
</main>