<main>
    <div class="title-section">
        <btn [color]="'gray'" routerLink="/admin">Back</btn>
        <span class="title">Admin panel - Manage articles</span>
        <btn (click)="this.newArticleModalShown = true">New</btn>
    </div>
    <div class="sections-container">
        <section class="no-padding">
            <div class="table__wrapper">
                <table *ngIf="articles">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Status</th>
                            <th>Publish date</th>
                            <th>Last change date</th>
                            <th>Original ID</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of articles">
                            <td>{{ article.id }}</td>
                            <td>{{ article.authorId | author | async }}</td>
                            <td>{{ article.title | truncate: 20 }}</td>
                            <td>{{ article.language | langCode }}</td>
                            <td [tp]="article.status | statusDescription : 'article'" [tpDelay]="200">{{ article.status | statusCode }}</td>
                            <td>{{ article.publishDate | date: "MMM dd yyyy hh:mm:ss" }}</td>
                            <td>{{ article.lastChangeDate | date: "MM/dd/yyyy hh:mm:ss" }}</td>
                            <td [tp]="article.status | originalIdTp : article.originalId : 'article'" [tpDelay]="200"><b>{{ article.originalId }}</b></td>
                            <td class="actions">
                                <div class="wrp"><btn (click)="viewArticle(article)" [small]="true" [color]="'green'">View</btn></div>
                                <div [tp]="canEdit(article)[1]" class="wrp"><btn (click)="showEditModal(article.id)" [small]="true" [color]="'orange'" [ngClass]="{'disabled': !canEdit(article)[0]}">Edit</btn></div>
                                <div [tp]="canDelete(article)[1]" class="wrp"><btn (click)="showArticleDeleteModal(article)" [small]="true" [color]="'red'" [ngClass]="{'disabled': !canDelete(article)[0]}">Delete</btn></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

<modal-window [showModal]="viewArticleModalShown" [noPadding]="true" (onClose)="closeAllModals()">
    <article>
        <div class="article-title">
            <h1>{{ currentViewedArticle?.title! | truncate: 100 }}</h1>
            <div class="article-date">{{ currentViewedArticle?.publishDate | date: 'MMM dd, yyyy' }}</div>
            <div style="background-image: url('{{ API_URL }}/uploads/{{ currentViewedArticle?.titleImage }}');" class="title-bg"></div>
        </div>
        <div class="container">
            <div class="content" [innerHTML]="currentViewedArticle?.text | safeHtml"></div>
        </div>
    </article>
</modal-window>

<modal-window [showModal]="newArticleModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Create Article</h1>
    <form (ngSubmit)="submitNewArticle(uploadPhotoLabelNew)" [formGroup]="newArticleForm" method="post" enctype="multipart/form-data">
        <input required="text" formControlName="title" type="text" placeholder="Title">
        <quill-editor formControlName="text"></quill-editor>
        <select tp="Select language" [tpOffset]="[-100,0]" formControlName="language" required>
            <option *ngFor="let lang of languages; index as i" [ngValue]="lang.value">{{ lang.key }}</option>
        </select>
        <label #uploadPhotoLabelNew class="upload-photo-label" for="upload-photo"><span>Browse</span></label>
        <input (change)="uploadFile($event, newArticleForm, uploadPhotoLabelNew)" id="upload-photo" accept="image/*" formControlName="titleImage" type="file" placeholder="Title image">
        <input class="button" type="submit" value="Create">
    </form>
</modal-window>

<modal-window [showModal]="editArticleModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Edit Article</h1>
    <form (ngSubmit)="submitEditedArticle()" [formGroup]="editArticleForm" method="post" enctype="multipart/form-data">
        <input value="{{ currentArticleEdited?.title }}" required="text" formControlName="title" type="text" placeholder="Title">
        <quill-editor formControlName="text">{{ currentArticleEdited?.text }}</quill-editor>
        <select formControlName="language" required>
            <option *ngFor="let lang of languages; index as i" [ngValue]="lang.value">{{ lang.key }}</option>
        </select>
        <label #uploadPhotoLabelEdit class="upload-photo-label upload-photo-label-edit" for="upload-photo-edit"><span>Browse</span></label>
        <input (change)="uploadFile($event, editArticleForm, uploadPhotoLabelEdit)" id="upload-photo-edit" accept="image/*" type="file">
        <input class="button green" type="submit" value="Confirm edit">
    </form>
</modal-window>

<modal-window [showModal]="confirmDeleteModalShown" (onClose)="closeAllModals()">
    <h1 class="title left">Are you sure?</h1><br>
    <p>You are about to delete <b>{{ articleToDelete?.title }}</b></p>
    <div class="block padding-top">
        <btn (click)="closeAllModals()">Cancel</btn>
        <btn [color]="'red'" (click)="deleteArticle()">Delete</btn>
    </div>
</modal-window>

<modal-window [showModal]="successModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Success!</h1><br>
    <hr>
    <p class="message" [innerHTML]="successMessage | safeHtml"></p>
    <img src="https://media.tenor.com/JzgronqM0nsAAAAM/dancing-steve.gif" alt="">
</modal-window>

<modal-window [showModal]="failModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Oops! Something went wrong...</h1><br>
    <hr>
    <img src="https://media.discordapp.net/attachments/983448971089432577/1078404457676685402/jsrip.gif" alt="">
</modal-window>