<main>
    <div class="title-section">
        <a class="button gray" routerLink="/admin">Back</a>
        <span class="title">Admin panel - Manage articles</span>
        <a (click)="this.newArticleModalShown = true" class="button">New</a>
    </div>
    <div class="sections-container">
        <section class="no-padding">
            <div class="table__wrapper">
                <table *ngIf="articles">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Status</th>
                            <th>PublishDate</th>
                            <th>LastChangeDate</th>
                            <th>Original Id</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of articles">
                            <td>{{ article.id }}</td>
                            <td>{{ article.authorId | author | async }}</td>
                            <td>{{ article.title | truncate: 20 }}</td>
                            <td>{{ article.language | langCode }}</td>
                            <td>{{ article.status | statusCode }}</td>
                            <td>{{ article.publishDate | date: "MMM dd yyyy hh:mm:ss" }}</td>
                            <td>{{ article.lastChangeDate | date: "MM/dd/yyyy hh:mm:ss" }}</td>
                            <td>{{ article.originalId }}</td>
                            <td class="actions">
                                <a routerLink="/article/{{ article.language | langCode }}/{{ article.id }}" class="button green">View</a>
                                <a (click)="showEditModal(article.id)" class="button orange">Edit</a>
                                <a class="button red">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>
<modal-window [showModal]="newArticleModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Create Article</h1>
    <form (ngSubmit)="submitNewArticle()" [formGroup]="newArticleForm" method="post" enctype="multipart/form-data">
        <input required="text" formControlName="title" type="text" placeholder="Title">
        <quill-editor formControlName="text"></quill-editor>
        <select formControlName="language" required>
            <option *ngFor="let lang of languages; index as i" [ngValue]="lang.value">{{ lang.key }}</option>
        </select>
        <label #uploadPhotoLabelNew class="upload-photo-label" for="upload-photo"><span>Browse</span></label>
        <input (change)="uploadFile($event, newArticleForm, uploadPhotoLabelNew)" id="upload-photo" accept="image/*" formControlName="titleImage" type="file" placeholder="Title image">
        <input class="button" type="submit" value="Create">
    </form>
</modal-window>

<modal-window [showModal]="editArticleModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Edit Article</h1>
    <form (ngSubmit)="submitEditedArticle()" [formGroup]="editArticleForm" method="post" enctype="multipart/form-data">
        <input value="{{ currentArticleEdited?.title }}" required="text" formControlName="title" type="text" placeholder="Title">
        <quill-editor formControlName="text">{{ currentArticleEdited?.text }}</quill-editor>
        <select formControlName="language" required>
            <option *ngFor="let lang of languages; index as i" [ngValue]="lang.value">{{ lang.key }}</option>
        </select>
        <label #uploadPhotoLabelEdit class="upload-photo-label upload-photo-label-edit" for="upload-photo-edit"><span>Browse</span></label>
        <input (change)="uploadFile($event, editArticleForm, uploadPhotoLabelEdit)" id="upload-photo-edit" accept="image/*" type="file">
        <input class="button green" type="submit" value="Confirm edit">
    </form>
</modal-window>

<modal-window [showModal]="successModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Success!</h1><br>
    <hr>
    <img src="https://media.tenor.com/JzgronqM0nsAAAAM/dancing-steve.gif" alt="">
</modal-window>

<modal-window [showModal]="failModalShown" (onClose)="closeAllModals()">
    <h1 class="title">Oops! Something went wrong...</h1><br>
    <hr>
    <img src="https://media.discordapp.net/attachments/983448971089432577/1078404457676685402/jsrip.gif" alt="">
</modal-window>