@import 'quill.smoke.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css'; 
@import "node_modules/angular-notifier/styles";
@import "cookieconsent.css";

:root {
    --cc-bg: #232323;
    --cc-primary-color: #fcfcfc;
    --cc-secondary-color: #b7b7b7;

    --cc-btn-primary-bg: #F4BC16;
    --cc-btn-primary-color: #000000;
    --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
    --cc-btn-primary-hover-bg: #ffcf3d;
    --cc-btn-primary-hover-color: #1b1b1b;
    --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);

    --cc-btn-secondary-bg: #e1e1e1;
    --cc-btn-secondary-color: #000000;
    --cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);
    --cc-btn-secondary-hover-bg: #fcfcfc;
    --cc-btn-secondary-hover-color: #000000;
    --cc-btn-secondary-hover-border-color: #dbdbdb;

    --cc-separator-border-color: #424242;

    --cc-toggle-on-bg: var(--cc-btn-primary-bg);
    --cc-toggle-off-bg: #777777;
    --cc-toggle-on-knob-bg: #ffffff;
    --cc-toggle-off-knob-bg: var(--cc-toggle-on-knob-bg);

    --cc-toggle-enabled-icon-color: var(--cc-bg);
    --cc-toggle-disabled-icon-color: var(--cc-bg);

    --cc-toggle-readonly-bg: #414141;
    --cc-toggle-readonly-knob-bg: #676767;
    --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

    --cc-section-category-border: var(--cc-cookie-category-block-bg);

    --cc-cookie-category-block-bg: #353535;
    --cc-cookie-category-block-border: #0C0C0C;
    --cc-cookie-category-block-hover-bg: #525252;
    --cc-cookie-category-block-hover-border: #7a7a7a;
    --cc-cookie-category-expanded-block-bg: transparent;
    --cc-cookie-category-expanded-block-hover-bg: #424242;

    --cc-overlay-bg: rgba(0, 0, 0, 0.541);
    --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
    --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

    --cc-footer-bg: var(--cc-btn-secondary-bg);
    --cc-footer-color: var(--cc-secondary-color);
    --cc-footer-border-color: #e4eaed;

    --cc-link-color: var(--cc-btn-primary-bg);

    /*A few more */
    --cc-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --cc-modal-margin: 1em;
    --cc-modal-border-radius: .6em;
    --cc-modal-transition-duration: .25s;
    --cc-btn-gap: 5px;
    --cc-btn-border-radius: .5em;
    --cc-pm-toggle-border-radius: 4em;
}

.ql-editor li {
    font-family: Inter !important;
    color: #BAB8B6;
}

.pm__close-btn {
    background-color: #3a3a3a !important;
}

.pm__section-title {
    user-select: none !important;
}

.pm__section-arrow {
    background-color: #b7b7b7 !important;
}

.pm__btn, .cm__btn {
    font-family: Inter !important;
    user-select: none !important;
}

#cc-main .pm__close-btn:hover svg {
    stroke: #FFFFFF;
}

#cc-main .pm__close-btn svg {
    stroke: #c0c0c0;
}

#cc-main .pm__close-btn {
    border: none;
}

notifier-notification {
    z-index: 1000;
    user-select: none;
}

.notifier__notification--error {
    background-color: #b6403c;
    color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Ebrima, Tahoma;
    position: relative;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

*::selection {
    background-color: #732BE0;
    color: #FFFFFF;
}

.ck-editor {
    color: black;
}

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191919;
}

.disable-scroll {
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: FuturaMd;
    src: url("assets/fonts/FuturaMd.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Ebrima;
    src: url("assets/fonts/ebrima.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Ebrima;
    src: url("assets/fonts/ebrima-bold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-Regular.woff2");
    font-weight: 500;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-Medium.woff2");
    font-weight: 600;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-SemiBold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-Regular.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-Medium.woff2");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url("assets/fonts/Inter-SemiBold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-Light.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-Regular.woff2");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-Italic.woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-Medium.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-MediumItalic.woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: SourceSans;
    src: url("assets/fonts/SourceSans3-SemiBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

.button {
    font-family: Inter;
    background-color: #2F63B0;
    border: 1px solid #738fd7;
    padding: 10px 64px;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    box-shadow: 0px 6px 0px #1C3A68;
    border-radius: 5px;
    transition: .04s;
    user-select: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #3e79d2;
}

.button:active {
    background-color: #1C3A68;
    border-color: #1e5384;
    transform: translateY(6px);
    box-shadow: 0px 0px 0px #1C3A68 !important;
}

.button.green {
    background-color: #3D9E02;
    border: 1px solid #83D77B;
    box-shadow: 0px 6px 0px #1F5A16;
}

.button.green:hover {
    background-color: #48b702;
}

.button.green:active {
    background-color: #1F5A16;
    border: 1px solid #52894d;
    box-shadow: 0px 0px 0px #1C3A68;
}

.button.gray {
    background-color: #252525;
    border: 1px solid #696969;
    box-shadow: 0px 6px 0px #0e0e0e;
}

.button.gray:hover {
    background-color: #3A3A3A;
}

.button.gray:active {
    box-shadow: 0px 0px 0px #323232;
}

.button.gray.active {
    background-color: #3A3A3A;
    border: 1px solid #676767;
}

.button.gray.active:active {
    border: 1px solid #5f5f5f;
}

.button.small {
    padding: 10px 15px;
}

.button.red {
    background-color: #CF1515;
    border: 1px solid #c78e8e;
    box-shadow: 0px 6px 0px #671818;
}

.button.red:hover {
    background-color: #df1515;
}

.button.red:active {
    background-color: #671818;
    border: 1px solid #8b6363;
}

.button.orange {
    background-color: #D97227;
    border: 1px solid #C99E8C;
    box-shadow: 0px 6px 0px #673918;
}

.button.orange:hover {
    background-color: #ea7a2b;
}

.button.orange:active {
    background-color: #673918;
    border: 1px solid rgb(106, 75, 75);
}

.flat-button {
    font-weight: 600;
    font-family: Inter;
    display: inline-block;
    color: #FFFFFF;
    background-color: #2F63B0;
    border: 1px solid #5891e6;
    border-radius: 4px;
    padding: 8px 0px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 4px #1c3a68;
    transition: .04s;
}

.flat-button:hover {
    background-color: #3576d7;
    text-decoration: none;
}

.flat-button:active {
    transform: translateY(4px);
    box-shadow: none !important;
    background-color: #275292;
    border: 1px solid #2F63B0;
}

.flat-button.green {
    background-color: #25A02A;
    box-shadow: 0 4px #204911;
    border: 1px solid #8acc7f;
}

.flat-button.green:hover {
    background-color: #2cbc31;
    box-shadow: 0 4px #204911;
    border: 1px solid #8acc7f;
}

.flat-button.green:active {
    background-color: #1e8221;
    border: 1px solid #71a768;
}

btn.disabled {
    filter: brightness(60%);
    pointer-events: none;
}

.table__wrapper {
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
    border: 1px solid #616161;
}

table {
    width: 100%;
    border-radius: 10px !important;
}

table a {
    color: #3286ED;
}

table,thead,tbody,tr,th {
    position: initial;
    border-spacing: 0;
    border-collapse: collapse;
}

table,td,th {
    border: 1px solid #616161;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

table,td:last-child,th:last-child {
    border-right: none !important;
}

table thead, table thead th  { 
    border-top: none !important;
}

table thead {
    font-size: 22px;
}

table tbody {
    font-size: 18px;
}

table tbody tr:nth-child(odd) {
    background-color: #363636;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table thead th:last-child {
    border-top-right-radius: 10px;
}

table tbody:last-child tr:last-child td:first-child { 
    border-bottom-left-radius: 10px;
}

table tbody:last-child tr:last-child td:last-child { 
    border-bottom-right-radius: 10px;
}

table thead {
    background-color: #202020;
}

table th {
    padding: 20px;
    text-align: left;
}

table td {
    padding: 10px;
}

not-found {
    margin-top: auto;
}

app-login {
    height: 100%;
}

app-footer {
    margin-top: auto;
}

form .upload-photo-label img {
    max-width: 100%;
    max-height: 300px;
}

form input[type="submit"] {
    position: initial !important;
}

service-page-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .content {
    padding: 22px 40px;
    padding-bottom: 20px;
    width: 90%;
    color: #BAB8B6;
}

.content h1 {
    color: #e3e3e3;
    font-size: 28px;
    letter-spacing: 0.6px;
    padding: 8px 0px;
}

.content h2,h3,h4,h5 {
    color: #BAB8B6;
}

.content p {
    font-size: 18px;
    line-height: 28px;
    padding: 0px 0px;
    padding-right: 0;
    color: #BAB8B6;
    font-family: Inter;
    font-weight: 500;
}

.content li {
    list-style: inside;
}

article .content a {
    color: #3286ED;
}

.content b {
    font-weight: 600;
    line-height: 28px;
}

.ql-size-large {
    font-size: 24px;
}

form .upload-photo-label span {
    display: block;
    padding: 40px 14px;
    width: 100%;
    text-align: left;
}

.article .info-section .article-text * {
    font-family: BalooThambi2, SourceSans;
    font-size: 19px !important;
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 500;
    background-color: transparent;
}

modal-window .sections-container {
    padding: 10px 25px !important;
}

admin-panel-tab {
    height: min-content;
}

form .tip input, form .tip select {
    width: 100%;
}

form .select-wrapper::before, .tip::before {
    content: attr(data-title);
    color: #6b6b6b;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
    display: block;
    width: 100%;
    bottom: 2px;
    position: relative;
}

modal-window form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

modal-window form input[type="text"], modal-window form input[type="password"] {
    color: #FFFFFF;
    border: 1px solid #7E7E7E;
    background-color: #2E2E2E;
    padding: 12px 14px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

modal-window form input[type="text"]::placeholder, modal-window form input[type="password"]::placeholder {
    color: #6F6F6F;
    opacity: 1;
}

modal-window form input[type="file"] {
    display: none;
}

modal-window form .upload-photo-label {
    font-size: 18px;
    border: 2px dashed #7E7E7E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

modal-window form .upload-photo-label span {
    display: block;
    padding: 40px 14px;
    width: 100%;
    text-align: left;
}

modal-window form .upload-photo-label:hover {
    background-color: #515151;
    border-color: #515151;
    transition: 0.1s;
}

modal-window form input:focus[type="text"], modal-window form input:focus[type="password"] {
    outline: none;
    outline: 1px solid #7E7E7E;
}

modal-window form input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
}

modal-window form select {
    color: white;
    padding: 12px 14px;
    border-radius: 5px;
    border: 1px solid #7E7E7E;
    background-color: #2E2E2E;
    font-size: 20px;
    cursor: pointer;
}

modal-window form.ng-submitted .ng-invalid {
    border-color: #FF6363;
    outline: 1px solid #FF6363;
}

.result-title b {
    color: #ffffff;
}

.result-description b {
    color: #c1c1c1 !important;
}

.cc-window {
    min-width: 100vw;
    max-width: 100vw;
    bottom: 0;
    transition: opacity .1s;
}

.cc-btn {
    font-family: Ebrima, Arial;
}

@media screen and (max-width: 900px) {
    td.actions {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 1150px) {
    .table__wrapper table {
        display: flex;
        flex-direction: column;
    }

    .table__wrapper table thead {
        display: none;
    }

    .table__wrapper table tr {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .table__wrapper table td::before {
        content: attr(data-title);
        color: #6b6b6b;
        font-size: 16px;
        font-weight: bold;
        padding-right: 10px;
        display: block;
        width: 100%;
    }

    .table__wrapper table .actions::before {
        display: none;
    }

    .table__wrapper table tbody tr:nth-child(odd) {
        background-color: #252525;
    }

    .table__wrapper table tbody tr:nth-child(even) {
        background-color: #363636;
    }
}

@media screen and (max-width: 1000px) {
    .sections-container {
        padding: 40px 70px;
    }
}

@media screen and (max-width: 800px) {
    .sections-container {
        padding: 40px 20px;
    }
}


@media screen and (max-width: 1000px) {
    .flat-button {
        padding: 5px 0px;
        border: none !important;
    }

    modal-window input.button {
        padding: 10px 4px;
    }
}