@import 'quill.smoke.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Ebrima;
    position: relative;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: #732BE0;
    color: #FFFFFF;
}

.ck-editor {
    color: black;
}

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191919;
}

.disable-scroll {
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: FuturaMd;
    src: url("assets/fonts/FuturaMd.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Ebrima;
    src: url("assets/fonts/ebrima.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Ebrima;
    src: url("assets/fonts/ebrima-bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: BalooThambi2;
    src: url("assets/fonts/BalooThambi2-SemiBold.ttf");
    font-weight: 700;
}

.button {
    background-color: #2F63B0;
    border: 1px solid #738fd7;
    padding: 10px 64px;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    box-shadow: 0px 6px 0px #1C3A68;
    border-radius: 5px;
    transition: .04s;
    user-select: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #3e79d2;
}

.button:active {
    background-color: #1C3A68;
    border-color: #1e5384;
    transform: translateY(6px);
    box-shadow: 0px 0px 0px #1C3A68 !important;
}

.button.green {
    background-color: #3D9E02;
    border: 1px solid #83D77B;
    box-shadow: 0px 6px 0px #1F5A16;
}

.button.green:hover {
    background-color: #48b702;
}

.button.green:active {
    background-color: #1F5A16;
    border: 1px solid #52894d;
    box-shadow: 0px 0px 0px #1C3A68;
}

.button.gray {
    background-color: #282828;
    border: 1px solid #696969;
    box-shadow: 0px 6px 0px #0e0e0e;
}

.button.gray:hover {
    background-color: #3A3A3A;
}

.button.gray:active {
    box-shadow: 0px 0px 0px #323232;
}

.button.gray.active {
    background-color: #3A3A3A;
    border: 1px solid #C6C6C6;
}

.button.gray.active:active {
    border: 1px solid #8e8e8e;
}

.button.small {
    padding: 10px 15px;
}

.button.red {
    background-color: #CF1515;
    border: 1px solid #c78e8e;
    box-shadow: 0px 6px 0px #671818;
}

.button.red:hover {
    background-color: #df1515;
}

.button.red:active {
    background-color: #671818;
    border: 1px solid #8b6363;
}

.button.orange {
    background-color: #D97227;
    border: 1px solid #C99E8C;
    box-shadow: 0px 6px 0px #673918;
}

.button.orange:hover {
    background-color: #ea7a2b;
}

.button.orange:active {
    background-color: #673918;
    border: 1px solid rgb(106, 75, 75);
}

btn.disabled {
    filter: brightness(60%);
    pointer-events: none;
}

.table__wrapper {
    border-radius: 10px;
    overflow: hidden;
    overflow-x: auto;
    border: 1px solid #616161;
}

table {
    width: 100%;
    border-radius: 10px !important;
}

table a {
    color: #3286ED;
}

table,thead,tbody,tr,th {
    position: initial;
    border-spacing: 0;
    border-collapse: collapse;
}

table,td,th {
    border: 1px solid #616161;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

table,td:last-child,th:last-child {
    border-right: none !important;
}

table thead, table thead th  { 
    border-top: none !important;
}

table thead {
    font-size: 22px;
}

table tbody {
    font-size: 18px;
}

table tbody tr:nth-child(odd) {
    background-color: #363636;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table thead th:last-child {
    border-top-right-radius: 10px;
}

table tbody:last-child tr:last-child td:first-child { 
    border-bottom-left-radius: 10px;
}

table tbody:last-child tr:last-child td:last-child { 
    border-bottom-right-radius: 10px;
}

table thead {
    background-color: #202020;
}

table th {
    padding: 20px;
    text-align: left;
}

table td {
    padding: 10px;
}

not-found {
    margin-top: auto;
}

app-footer {
    margin-top: auto;
}

app-login {
    height: 100%;
}

form .upload-photo-label img {
    max-width: 100%;
    max-height: 300px;
}

.container .content {
    padding: 22px 40px;
    padding-bottom: 20px;
    width: 90%;
}

.content h1 {
    color: #e3e3e3;
    font-size: 28px;
    letter-spacing: 0.6px;
    padding: 8px 0px;
}

.content p {
    font-size: 21px;
    line-height: 28px;
    padding: 0px 0px;
    padding-right: 0;
    color: #BAB8B6;
    font-family: BalooThambi2;
    font-weight: 600;
}

.content b {
    font-weight: 600;
    line-height: 28px;
}

form .upload-photo-label span {
    display: block;
    padding: 40px 14px;
    width: 100%;
    text-align: left;
}

.article .info-section .article-text * {
    font-family: BalooThambi2;
    font-size: 19px !important;
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 500;
    background-color: transparent;
}

modal-window .sections-container {
    padding: 10px 25px !important;
}

@media screen and (max-width: 900px) {
    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 1150px) {
    table {
        display: flex;
        flex-direction: column;
    }

    table thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    table td::before {
        content: attr(data-title);
        color: #6b6b6b;
        font-size: 16px;
        font-weight: bold;
        padding-right: 10px;
        display: block;
        width: 100%;
    }

    table .actions::before {
        display: none;
    }

    table tbody tr:nth-child(odd) {
        background-color: #282828;
    }

    table tbody tr:nth-child(even) {
        background-color: #363636;
    }
}

@media screen and (max-width: 1000px) {
    .sections-container {
        padding: 40px 70px;
    }
}

@media screen and (max-width: 800px) {
    .sections-container {
        padding: 40px 20px;
    }
}