<main>
  <span class="title">Admin panel</span>
  <div class="sections-container">
      <div *ngIf="selectedTabService.selectedTab == 0" class="tabs">
        <admin-panel-tab [title]="'Stats'" routerLink="stats" [icon]="'../../assets/images/admin/stats.svg'"/>
      </div>

      <div *ngIf="selectedTabService.selectedTab == 1" class="tabs">
        <admin-panel-tab [title]="'Manage articles'" [grayText]="articlesCount" routerLink="/admin/manageArticles" [icon]="'../../assets/images/admin/manageArticles.svg'"/>
      </div>

      <div *ngIf="selectedTabService.selectedTab == 2" class="tabs">
        <admin-panel-tab [title]="'Manage services'" [grayText]="servicesCount" routerLink="/admin/manageServices" [icon]="'./../assets/images/admin/manageServices.svg'"/>

        <admin-panel-tab [title]="'Manage categories'" [grayText]="serviceCategoriesCount" routerLink="/admin/manageServiceCategories" [icon]="'../../assets/images/admin/manageCategories.svg'"/>

        <admin-panel-tab [title]="'Manage versions'" [grayText]="serviceVersionsCount" routerLink="/admin/manageServiceVersions" [icon]="'../../assets/images/admin/manageVersions.svg'"/>

        <admin-panel-tab [title]="'Manage images'" [grayText]="serviceImagesCount" routerLink="/admin/manageServiceImages" [icon]="'../../assets/images/admin/image.svg'"/>
      </div>

      <div *ngIf="selectedTabService.selectedTab == 3" class="tabs">          
        <admin-panel-tab *ngIf="currentUser?.rank == 'Emperor'" [title]="'Manage users'" [grayText]="userCount" routerLink="/admin/manageUsers" [icon]="'../../assets/images/admin/manageUsers.svg'"/>

        <admin-panel-tab *ngIf="currentUser?.rank == 'Emperor'" [title]="'Awaiting approvements'" [grayText]="approvementsCount" routerLink="/admin/manageApprovements" [icon]="'../../assets/images/admin/approvements.svg'"/>
      </div>

      <div *ngIf="selectedTabService.selectedTab == 4" class="tabs">          
        <admin-panel-tab (click)="logout()" [title]="'Logout'" [icon]="'../../assets/images/admin/logout.svg'"/>
      </div>
      
      <aside>
          <h1>Actions</h1>
          <form>
              <label (mousedown)="setTab(0)" class="checkbox-container">
                <span class="checkbox-text">Dashboard</span>
                <input (change)="setTab(0)" name="category" type="radio" [checked]="selectedTabService.selectedTab == 0">
                <span class="checkmark"></span>
              </label>
              <label (mousedown)="setTab(1)" class="checkbox-container">
                <span class="checkbox-text">Manage articles</span>
                <input (change)="setTab(1)" name="category" type="radio" [checked]="selectedTabService.selectedTab == 1">
                <span class="checkmark"></span>
              </label>
              <label (mousedown)="setTab(2)" class="checkbox-container">
                <span class="checkbox-text">Manage services</span>
                <input (change)="setTab(2)" name="category" type="radio" [checked]="selectedTabService.selectedTab == 2">
                <span class="checkmark"></span>
              </label>
              <label (mousedown)="setTab(3)" *ngIf="currentUser?.rank == 'Emperor'" class="checkbox-container">
                <span class="checkbox-text">Manage users</span>
                <input (change)="setTab(3)" name="category" type="radio" [checked]="selectedTabService.selectedTab == 3">
                <span class="checkmark"></span>
              </label>
              <label (mousedown)="setTab(4)" class="checkbox-container">
                <span class="checkbox-text">Other</span>
                <input (change)="setTab(4)" name="category" type="radio" [checked]="selectedTabService.selectedTab == 4">
                <span class="checkmark"></span>
              </label>
          </form>
      </aside>
  </div>
</main>