<main>
    <div class="title-section">
        <btn [color]="'gray'" routerLink="/admin">{{ 'BACK' | translate }}</btn>
        <span class="title">{{ 'ADMIN_PANEL' | translate }} - {{ 'MANAGE_APPROVEMENTS' | translate }}</span>
        <a class="button empty" href=""></a>
    </div>
    <div class="sections-container">
        <section class="no-padding">
            <div class="table__wrapper">
                <table *ngIf="approvements">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'CONTENT_TYPE' | translate }}</th>
                            <th>{{ 'AUTHOR' | translate }}</th>
                            <th>{{ 'TITLE' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>
                            <th>{{ 'PUBLISH_DATE' | translate }}</th>
                            <th>{{ 'ORIGINAL_ID' | translate }}</th>
                            <th style="text-align: center;">{{ 'ACTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let approvement of approvements">
                            <td data-title="ID:">{{ approvement.id }}</td>
                            <td [attr.data-title]="('CONTENT_TYPE' | translate) + ':'">{{ approvement.type | postableType | translate }}</td>
                            <td [attr.data-title]="('AUTHOR' | translate) + ':'">{{ approvement.authorId | author | async }}</td>
                            <td [attr.data-title]="('TITLE' | translate) + ':'">{{ approvement.title | truncate: 20 }}</td>
                            <td [attr.data-title]="('STATUS' | translate) + ':'" [tp]="approvement.status | statusDescription : (approvement.type | postableTypeShort)" [tpDelay]="200">{{ approvement.status | statusCode | translate }}</td>
                            <td [attr.data-title]="('PUBLISH_DATE' | translate) + ':'">{{ approvement.publishDate | date: "MMM dd yyyy hh:mm:ss" }}</td>
                            <td [attr.data-title]="('ORIGINAL_ID' | translate) + ':'" [tp]="approvement.status | originalIdTp : approvement.originalId : 'article'" [tpDelay]="200"><b>{{ approvement.originalId }}</b></td>
                            <td class="actions">
                                <div *ngIf="approvement.status != 2" class="wrp"><btn (click)="viewPostable(approvement)" [small]="true">{{ 'VIEW' | translate }}</btn></div>
                                <div *ngIf="approvement.status == 2" class="wrp"><btn (click)="viewOriginalPostable(approvement)" [small]="true">{{ 'VIEW_ORIGINAL' | translate }}</btn></div>
                                <div *ngIf="approvement.status == 2" class="wrp"><btn (click)="viewPostable(approvement)" [small]="true" [color]="'orange'">{{ 'VIEW_EDITED' | translate }}</btn></div>
                                <div class="wrp"><btn (click)="showModalToApprove(approvement)" [small]="true" [color]="'green'">{{ 'APPROVE' | translate }}</btn></div>
                                <div class="wrp"><btn (click)="showModalToDecline(approvement)" [small]="true" [color]="'red'">{{ 'DECLINE' | translate }}</btn></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

<modal-window [showModal]="viewArticleModalShown" [noPadding]="true" (onClose)="closeAllModals()">
    <article>
        <div class="article-title">
            <h1>{{ currentViewedArticle?.title! | truncate: 100 }}</h1>
            <div class="article-date">{{ currentViewedArticle?.publishDate | date: 'MMM dd, yyyy' }}</div>
            <div style="background-image: url('{{ API_URL }}/uploads/{{ currentViewedArticle?.titleImage }}');" class="title-bg"></div>
        </div>
        <div class="container">
            <div class="content" [innerHTML]="currentViewedArticle?.text | safeHtml"></div>
        </div>
    </article>
</modal-window>

<modal-window [showModal]="viewServiceModalShown" [noPadding]="true" (onClose)="closeAllModals()">
    <service-page-content *ngIf="currentViewedService" [isStaff]="true" [staffServiceId]="currentViewedService.id"></service-page-content>
</modal-window>

<modal-window [showModal]="viewServiceVersioModalShown" (onClose)="closeAllModals()">
    <div class="version">
        <h1>{{ currentViewedVersion?.title }}</h1>
        <div class="date">{{ currentViewedVersion?.publishDate | date: "MMM d yyyy hh:mm:ss" }}</div>
        <p [innerHTML]="currentViewedVersion?.text | safeHtml"></p>
    </div>
</modal-window>

<modal-window [showModal]="viewServiceCategoryModalShown" (onClose)="closeAllModals()">
    <div class="category">
        <div data-title="Id" class="tip">
            {{ currentViewedCategory?.id }}
        </div>
        <div [attr.data-title]="('TITLE' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.title }}
        </div>
        <div [attr.data-title]="('AUTHOR' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.authorId! | author | async }}
        </div>
        <div [attr.data-title]="('STATUS' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.status | statusCode }}
        </div>
        <div [attr.data-title]="('LANGUAGE' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.language! | langFull }}
        </div>
        <div [attr.data-title]="('PUBLISH_DATE' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.publishDate | date: "MMM dd yyyy hh:mm:ss" }}
        </div>
        <div [attr.data-title]="('LAST_CHANGE_DATE' | translate) + ':'" class="tip">
            {{ currentViewedCategory?.lastChangeDate | date: "MMM dd yyyy hh:mm:ss" }}
        </div>
    </div>
</modal-window>

<modal-window [showModal]="viewImageModalShown" [noPadding]="true" (onClose)="closeAllModals()">
    <img src="{{ API_URL }}/uploads/{{ currentViewedImage?.image }}" alt="">
</modal-window>

<modal-window [showModal]="confirmApproveModalShown" (onClose)="closeAllModals()">
    <h1 class="title left">{{ 'ARE_YOU_SURE' | translate }}</h1><br>
    <p>{{ 'ARE_YOU_SURE_APPROVE' | translate }}</p>
    <div class="block padding-top">
        <btn (click)="closeAllModals()">{{ 'CANCEL' | translate }}</btn>
        <btn [color]="'green'" (click)="approvePostable(postableToBeApproved!)">{{ 'APPROVE' | translate }}</btn>
    </div>
</modal-window>

<modal-window [showModal]="confirmDeclineModalShown" (onClose)="closeAllModals()">
    <h1 class="title left">{{ 'ARE_YOU_SURE' | translate }}</h1><br>
    <p>{{ 'ARE_YOU_SURE_DECLINE' | translate }}</p>
    <div class="block padding-top">
        <btn (click)="closeAllModals()">{{ 'CANCEL' | translate }}</btn>
        <btn [color]="'red'" (click)="approvePostable(postableToBeDeclined!)">{{ 'DECLINE' | translate }}</btn>
    </div>
</modal-window>

<modal-window [showModal]="successModalShown" (onClose)="closeAllModals()">
    <h1 class="title">{{ 'SUCCESS' | translate }}</h1><br>
    <hr>
    <p class="message" [innerHTML]="successMessage | safeHtml"></p>
    <img src="https://media.tenor.com/JzgronqM0nsAAAAM/dancing-steve.gif" alt="">
</modal-window>

<modal-window [showModal]="failModalShown" (onClose)="closeAllModals()">
    <h1 class="title">{{ 'SOMETHING_WENT_WRONG' | translate }}</h1><br>
    <hr>
    <p class="message"></p>
    <img src="https://media.discordapp.net/attachments/983448971089432577/1078404457676685402/jsrip.gif" alt="">
</modal-window>